*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  // this defines what 1rem is
  font-size: 62.5%; // 1rem = 10px; 10px / 16px = 62.5%
  height: 100%;
  width: 100;
  overflow-x: hidden;

   @include respond(bigDesktop) {
    font-size: 75%; // 1rem = 12px, 12/16 = 75%
  }

   @include respond(tabletLandscape) {
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }

   @include respond(tabletPortrait) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-gray;
  padding: 3rem;
  box-sizing: border-box;
  overflow-x: hidden;
}